In [1]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient('mongodb://localhost:27017/')
db=client['MongoDB_project']
collection = db['gameevents']
documents = collection.find()
game_events_df = pd.DataFrame(list(documents))
game_events_df

,_id,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_assist_id,player_in_id
0,6613c04f54a57856bcf3bdb5,2f41da30c471492e7d4a984951671677,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation",NaN,NaN
1,6613c04f54a57856bcf3bdb6,a72f7186d132775f234d3e2f7bc0ed5b,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation",NaN,NaN
2,6613c04f54a57856bcf3bdb7,b2d721eaed4692a5c59a92323689ef18,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,...",56416.0,NaN
3,6613c04f54a57856bcf3bdb8,aef768899cedac0c9a650980219075a2,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist...",146258.0,NaN
4,6613c04f54a57856bcf3bdb9,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",NaN,49499.0
...,...,...,...,...,...,...,...,...,...,...,...
666553,6613c06c54a57856bcfde96e,7f5a6b61ca858e0cd63a58c554b56bb7,2023-11-15,4228114,82,Substitutions,358,874064,", Tactical",NaN,965607.0
666554,6613c06c54a57856bcfde96f,5b93d1bc9e8bf42965682d491e1dd6c7,2023-11-15,4228114,44,Goals,46889,922572,", Penalty, 1. Tournament Goal",NaN,NaN
666555,6613c06c54a57856bcfde970,d638b1e72f531c413487d413258a3130,2023-11-15,4228114,68,Substitutions,46889,922572,", Tactical",NaN,1200869.0
666556,6613c06c54a57856bcfde971,0ff7774aa1383af83e40c435325463af,2023-11-15,4228114,68,Substitutions,46889,1200864,", Tactical",NaN,921121.0
666557,6613c06c54a57856bcfde972,c2ba59ead8ee0f17e74e49c506e0d92f,2023-11-15,4228114,85,Goals,358,1203715,", Right-footed shot, 1. Tournament Goal",NaN,NaN