In [1]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient('mongodb://localhost:27017/')
db=client['MongoDB_project']
collection = db['gameevents']
documents = collection.find({},{'_id':0,'game_event_id':0,'description':0})
game_events_df = pd.DataFrame(list(documents))
game_events_df

,date,game_id,minute,type,club_id,player_id,player_assist_id,player_in_id
0,2012-08-05,2211607,77,Cards,610,4425,NaN,NaN
1,2012-08-05,2211607,77,Cards,383,33210,NaN,NaN
2,2012-08-05,2211607,3,Goals,383,36500,56416.0,NaN
3,2012-08-05,2211607,53,Goals,383,36500,146258.0,NaN
4,2012-08-05,2211607,74,Substitutions,383,36500,NaN,49499.0
...,...,...,...,...,...,...,...,...
666553,2023-11-15,4228114,82,Substitutions,358,874064,NaN,965607.0
666554,2023-11-15,4228114,44,Goals,46889,922572,NaN,NaN
666555,2023-11-15,4228114,68,Substitutions,46889,922572,NaN,1200869.0
666556,2023-11-15,4228114,68,Substitutions,46889,1200864,NaN,921121.0
666557,2023-11-15,4228114,85,Goals,358,1203715,NaN,NaN

In [5]:
game_events_df.dtypes

date                datetime64[ns]
game_id                      int64
minute                       int64
type                        object
club_id                      int64
player_id                    int64
player_assist_id           float64
player_in_id               float64
dtype: object