## Fetch data from postgreSQL database
we decide to exclude the following columns:
- date
- dateweek
- n
- id

In [12]:
from sqlalchemy import create_engine
import pandas as pd
database_url="postgresql://postgres:123456@localhost:5432/db_test_project"
engine = create_engine(database_url)

player_valutations_df=pd.read_sql_query("SELECT player_id,last_season,datetime,market_value_in_eur,current_club_id,player_club_domestic_competition_id FROM player_valuations",con=engine)
player_valutations_df

,player_id,last_season,datetime,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,3132,2013,2003-12-09,400000,126,TR1
1,6893,2012,2003-12-15,900000,984,GB1
2,10,2015,2004-10-04,7000000,398,IT1
3,26,2017,2004-10-04,1500000,16,L1
4,65,2015,2004-10-04,8000000,1091,GR1
...,...,...,...,...,...,...
440658,950091,2023,2023-09-21,1000000,1091,GR1
440659,968903,2023,2023-09-21,50000,653,GR1
440660,1031590,2023,2023-09-21,50000,6418,GR1
440661,1166093,2023,2023-09-21,50000,30120,GR1
440662,405676,2018,2023-12-19,50000,23826,L1

### Data cleanup

In [13]:
player_valutations_df.dtypes

player_id                                       int64
last_season                                     int64
datetime                               datetime64[ns]
market_value_in_eur                             int64
current_club_id                                 int64
player_club_domestic_competition_id            object
dtype: object