In [3]:
from sqlalchemy import create_engine
import pandas as pd
database_url="postgresql://postgres:123456@localhost:5432/db_test_project"
engine = create_engine(database_url)

player_valutation=pd.read_sql_query("SELECT * FROM player_valuations",con=engine)
player_valutation

,player_id,last_season,datetime,date,dateweek,market_value_in_eur,n,current_club_id,player_club_domestic_competition_id,id
0,3132,2013,2003-12-09,2003-12-09,2003-12-08,400000,1,126,TR1,1
1,6893,2012,2003-12-15,2003-12-15,2003-12-15,900000,1,984,GB1,2
2,10,2015,2004-10-04,2004-10-04,2004-10-04,7000000,1,398,IT1,3
3,26,2017,2004-10-04,2004-10-04,2004-10-04,1500000,1,16,L1,4
4,65,2015,2004-10-04,2004-10-04,2004-10-04,8000000,1,1091,GR1,5
...,...,...,...,...,...,...,...,...,...,...
440658,950091,2023,2023-09-21,2023-09-21,2023-09-18,1000000,1,1091,GR1,440659
440659,968903,2023,2023-09-21,2023-09-21,2023-09-18,50000,1,653,GR1,440660
440660,1031590,2023,2023-09-21,2023-09-21,2023-09-18,50000,1,6418,GR1,440661
440661,1166093,2023,2023-09-21,2023-09-21,2023-09-18,50000,1,30120,GR1,440662
440662,405676,2018,2023-12-19,2023-12-19,2023-12-18,50000,1,23826,L1,440663